body,
html,
*{
font-size: 10px;
box-sizing: border-box;
margin: 0;
padding: 0;
}
.card{
height: 50vh;
width: 23%;
background-color: rgba(65, 65, 65, 0.3);
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
margin: 2.5rem auto;
box-shadow: 20px 10px 10px rgb(0, 255, 132);
transition: all 1s;
animation: ani5 3s;
animation-play-state: paused;
}
.card-title{
font-size: 2.6rem;
animation: ani3 3s;
}
.card-img{
width: 80%;
animation: a2 1s infinite;
animation-play-state: paused;
}
.app-des{
font-size: 1.2rem;
text-align: center;
animation: a1 2s infinite;
animation-play-state: paused;
}
.container{
display: flex;
flex-wrap: wrap;
width: 80vw;
margin: 1rem auto;
align-items: center;
justify-content: space-around;
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif;
}


body{
background-color: aquamarine;
animation: a4 3s infinite;
}


h1{
font-size: 10rem;
text-align: center;
margin: auto;
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif;
animation: h1 2s infinite;
}
