/* :root{
    --purpel:#6411AD;
    --pinki:#FBB1BD;
    --white:#f4fdff;
    --leo:#03045e;
    --mmj:#88d4ab;
    --vbs:#ff9500;
    --wxs:#fdc43f;
    --nijo:#04052e;

--primary:var(--pinki);
--secondary:var(--purpel);
--h1:7.594rem;
--h2:5.063rem;
--h3:3.375rem;
--h4:2.25rem;
--h5:1.5rem;
}

.first{
    --primary:var(--pinki)
    --secondary:var(--purpel)
}

.second{
    --primary:var(--leo)
    --secondary:var(--white)
}

.third{
    --primary:var(--mmj)
    --secondary:var(--pinki)
}

.fourth{
    --primary:var(--vbs)
}

.fifth{
    --primary:var(--wxs)
} 

.fifth{
    --primary:var(var(--nijo))
} 


document.querySelector(".filter").addEventListener("click", function() {
    if(document.body.classList.contains("yes")){
        document.body.classList.remove("yes");
        document.body.classList.add("yes");
    }
    else{
        document.body.classList.add("girl");
        document.body.classList.remove("boy");
    }
 });
  
 
  */
 
 
 
 
 body,
 html,
 * {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--primary);
 }
 
 
 .container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
 }
 .filter {
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around
 
 
 }
 
 
 .header {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around
 }
 
 
 .card {
    font-size: 3rem;
    background-color: var(--secondary);
    padding: 2%;
    margin: 2rem 2rem;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    box-shadow: 10px 10px var(--tertiary);
    width: 450px;
    height: 40vh;
 }
 .cardimg {
    outline-offset: 1rem;
    width: 100%;
    height: 50%;
    object-fit: contain;
    margin: 2rem auto;
    border-radius: 5px;
 }
 .cardtitle {
  background-color: var(--secondary);
  font-size: 5rem;
  width: 140rem;
  text-align: center;
  margin: 6rem auto;
  border: 3px solid var(--tertiary);
  border-radius: 5px;
  box-shadow: 10px 10px var(--tertiary);
 }
 h3{
  border-radius: 5px;
  margin-top: 2rem;
 }
 
 
 h4{
  border-radius: 5px;
  margin-top: 0rem;
 }
 .group1, .group2, .group3, .group4, .group5, .group6{
  background-color: white;
    border-radius: 10px;
    border-color: black;
    font-size: 3rem;
 }
 
 
 :root{
  --purpel:#6411AD;
  --pinki:#FBB1BD;
  --white:#f4fdff;
  --leo:#03045e;
  --mmj:#88d4ab;
  --vbs:#ff9500;
  --wxs:#fdc43f;
  --nijo:#04052e;
 
 
 --primary:var(--pinki);
 --secondary:var(--purpel);
 --h1:7.594rem;
 --h2:5.063rem;
 --h3:3.375rem;
 --h4:2.25rem;
 --h5:1.5rem;
 }
 
 
 body.yes{
  --primary:var(--pinki)
  --secondary:var(--purpel)
 }
 
 
 body.no{
  --primary:var(--leo)
  --secondary:var(--white)
 }
 
 
 h2{
  font-size: 3rem;
  text-align: center;
 }
 
 
 
 
 
 
 
 
 
 
 